
# default is ruby, we set python in case we need to do some
# advanced scripting in our setup of the C++ tests
language: python

matrix:
  include:
# ## Temporarily disable docker build, as Travis current docker version
#    on Ubuntu 16.04/18.04, i.e. Docker 18.06.0-ce/1.38 breaks
#    prctl(PR_SET_PDEATHSIG, SIGTERM) in silence test ...
#    - os: linux
#      services: docker
#      env:
#        docker_img=gsauthof/fedora-cxx-devel:29
#        docker_flags="--cap-add=SYS_PTRACE --security-opt apparmor:unconfined"
#        CMAKE_BUILD_TYPE=Debug
#      python: 3.5
    - os: linux
      dist: focal
      addons:
        apt:
          packages:
            - gcc-multilib
            - gdb
            - libc6-dev-i386
            - ninja-build
            # this gets us clang-10 on Ubuntu 20.04
            # instead of the broken /usr/local/clang-7.0.0/bin/ mess travis provides
            - clang
            - libc++-dev
            - libc++abi-dev
      env:
        CMAKE_BUILD_TYPE=Release
        CC=/usr/lib/llvm-10/bin/clang
        CXX=/usr/lib/llvm-10/bin/clang++
        CFLAGS="-O3    -Wall -Wextra -Wno-missing-field-initializers -Wno-parentheses -Wno-missing-braces -Wmissing-prototypes -Wfloat-equal -Wwrite-strings -Wpointer-arith -Wcast-align -Wnull-dereference -Werror=multichar -Werror=sizeof-pointer-memaccess -Werror=return-type -fstrict-aliasing    "
        CXXFLAGS="-O3 -std=gnu++17    -stdlib=libc++ -rtlib=compiler-rt   -Wall -Wextra -Wno-missing-field-initializers -Wno-parentheses -Wno-missing-braces -Wno-unused-local-typedefs -Wfloat-equal -Wpointer-arith -Wcast-align -Wnull-dereference -Wnon-virtual-dtor -Wmissing-declarations -Werror=multichar -Werror=sizeof-pointer-memaccess -Werror=return-type -Werror=delete-non-virtual-dtor -fstrict-aliasing    "
      python: 3.6
      compiler: clang
    - os: linux
      dist: focal
      addons:
        apt:
          packages:
            - gcc-multilib
            - gdb
            - libc6-dev-i386
            - ninja-build
      env:
        CMAKE_BUILD_TYPE=Debug
        CFLAGS="-Og    -Wall -Wextra -Wno-missing-field-initializers -Wno-parentheses -Wno-missing-braces -Wmissing-prototypes -Wfloat-equal -Wwrite-strings -Wpointer-arith -Wcast-align -Wnull-dereference -Werror=multichar -Werror=sizeof-pointer-memaccess -Werror=return-type -fstrict-aliasing    "
        CXXFLAGS="-Og -std=gnu++17    -Wall -Wextra -Wno-missing-field-initializers -Wno-parentheses -Wno-missing-braces -Wno-unused-local-typedefs -Wfloat-equal -Wpointer-arith -Wcast-align -Wnull-dereference -Wnon-virtual-dtor -Wmissing-declarations -Werror=multichar -Werror=sizeof-pointer-memaccess -Werror=return-type -Werror=delete-non-virtual-dtor -fstrict-aliasing    "
      python: 3.6

before_install:
  - ./ci/travis/"$TRAVIS_OS_NAME$tag"/before_install.sh

install:
  - ./ci/travis/"$TRAVIS_OS_NAME$tag"/install.sh

before_script:
  - ./ci/travis/"$TRAVIS_OS_NAME$tag"/before_script.sh

script:
  - ./ci/travis/"$TRAVIS_OS_NAME$tag"/script.sh


